@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav_icons {
  padding: 0px 10px;
  transition: 0.3s;
  cursor: pointer;
}

.nav_icons:hover {
  transform: scale(1.2);
  color: black;
}

.Nav_icon_1 {
  font-size: 30px;
}

.container {
  max-width: 640px;
  border: 1px solid black;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Quiz_list ul li {
  border: 1px solid black;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.container button {
  border: 1px solid black;
  width: 140px;
  border-radius: 8px;
  height: 35px;
  background-color: #553f9a;
  color: white;
  font-size: 18px;

  font-weight: 500;
  cursor: pointer;
}

.container .correct {
  background-color: green;
  border-radius: green;
  outline: none;
}

.container .wrong {
  background-color: rgb(202, 25, 25);
  border-color: red;
}

.display-block{
  display: block;
}